.DS_Store
.irb-history
.gitignore
remove_screenshots.sh
glow/android/builds/
glow/android/test_servers
glow/android/features/*.png
glow/android/*.png
glow/android/features/screenshots/*
glow/android/*.apk
glow/android/calabash.framework/
glow/android/Calabash/
glow/android/features/support/env.rb
glow/ios/features/*.png
glow/ios/*.png
glow/ios/*.html
glow/ios/features/screenshots/*
glow/ios/calabash.framework/
glow/ios/features/support/env.rb

eve/android/*.apk
eve/android/*.png
eve/android/test_servers/
eve/android/*.html
eve/ios/features/screenshots/
eve/ios/*.html
eve/ios/*.png


glow/android/*.html
glow/ios/features/support/env_miles.rb.example
glow/ios/features/test-reports/

glow/www/images/
glow/www/private_tools_minitest.rb
glow/www/test_miles.rb
baby/android/*.apk
baby/android/features/screenshots/
baby/android/folder/
baby/android/*.png
baby/android/test_servers/
baby/android/*.html
baby/ios/*.html
baby/ios/rerun*.txt
baby/ios/features/screenshots/
nurture/ios/features/screenshots/
baby/www/images/
nurture/ios/*.png
nurture/ios/*.html
nurture/android/features/screenshots/
nurture/android/*.apk
nurture/android/test_servers/
nurture/www/images/
