.DS_Store
.irb-history
glow/android/builds/
glow/android/test_servers
glow/android/features/*.png
glow/android/*.png
glow/android/features/screenshots/*
glow/android/*.apk
glow/android/calabash.framework/
glow/android/Calabash/
glow/android/features/support/env.rb
glow/ios/features/*.png
glow/ios/*.png
glow/ios/features/screenshots/*
glow/ios/calabash.framework/
glow/ios/features/support/env.rb

eve/android/*.apk
eve/android/*.png
eve/android/test_servers/
eve/android/*.html
glow/android/*.html
glow/ios/features/support/env_miles.rb.example
glow/ios/features/test-reports/

glow/www/images/
glow/www/private_tools_minitest.rb
glow/www/test_miles.rb
noah/android/*.apk
noah/android/features/screenshots/
noah/android/folder/
noah/android/*.png
noah/android/test_servers/
noah/android/*.html
noah/ios/features/screenshots/
noah/www/images/
nurture/android/features/screenshots/
nurture/android/*.apk
nurture/android/test_servers/
nurture/www/images/