# Copy this file to env.rb and change it to your own configuration

require 'calabash-cucumber/cucumber'
require_relative '../../../www/noah_ios_test'
require_relative 'app'
require_relative 'pages'
include BabyIOS
include BabyHelper

ENV["APP_BUNDLE_PATH"] = 'path/to/your/app'
ENV["DEVICE_TARGET"] = '2146184F-52AC-4DA4-8368-4AFCB6858627' # iPhone 6s (9.1)
ENV['SCREENSHOT_PATH'] = "./features/screenshots/"
