require 'calabash-cucumber/cucumber'
require 'minitest/autorun'
require_relative '../../../www/glow_ios_test'
require_relative 'app'
require_relative 'pages'

class MinitestWorld
  extend Minitest::Assertions
  attr_accessor :assertions

  def initialize
    self.assertions = 0
  end
end

World do
  MinitestWorld.new
end

include Glow
include GlowIOS
include Minitest::Assertions

GLOW_PASSWORD = "Glow12345"

ENV['SCREENSHOT_PATH'] = "./features/screenshots/"
