require 'calabash-android/cucumber'
require 'active_support/all'

require_relative 'app'
require_relative 'pages'
require_relative 'user'
require_relative '../../../www/noah_android_test'

include BabyAndroid
include BabyHelper

ENV['SCREENSHOT_PATH'] = "./features/screenshots/"
ENV['APP_PATH'] = "/Users/Linus/Desktop/Apks/baby-beta-0113.apk"
ENV['TEST_APP_PATH'] = Dir.glob("/Users/Linus/projects/AutomationTests/baby/android/test_servers/*.apk").max_by {|f| File.mtime(f)}
